{% if not (theme_config.hide_site_title) %}
  <p><div style="margin-bottom: -4rem;">&nbsp;</div></p>
  <img src="https://docs.m2if.com/user/pages/images/logo.png" alt=M2IF Logo"/>
  <p><div style="margin-top: -4rem;">&nbsp;</div></p>
{% endif %}
